// overarching

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

//

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

// buttons

.arrow {
  width: 6.25rem;
}

// header

header {
  h1 {
    text-align: center;
  }
}

// carousel

#container {
  #carousel {
    width: 9.375rem;
    overflow: hidden;
    border: 0.0625rem solid black;

    #strip {
      display: flex;
      width: min-content;

      div {
        width: 9.375rem;
        height: 9.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      :nth-child(1) {
        background-color: pink;
      }

      :nth-child(2) {
        background-color: orange;
        display: none;
      }

      :nth-child(3) {
        background-color: khaki;
        display: none;
      }

      :nth-child(4) {
        background-color: seagreen;
        display: none;
      }

      :nth-child(5) {
        background-color: cadetblue;
        display: none;
      }
    }
  }
}

// dots

#dots {
  display: flex;
  gap: .625rem;
  margin: .625rem;

  .dot {
    width: 1.25rem;
    height: 1.25rem;
    background-color: lightgrey;
  }

  .active {
    background-color: gray;
  }
}
